* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.page {
    font-family: 'Raleway', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.header {
    background: linear-gradient(#E2F1DA, #D4FBF7);
    /* max-width: 90rem; */
    height: 41rem;
}

.header__item {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    margin: auto 10rem;
}

.header__title {
    color: #6A6B70;
    font-weight: 600;
    font-size: 4.375rem;
    width: 33rem;
    margin: auto 5rem auto 0;
}

.header__image {
    margin: auto 0 auto 0;
}

.content {
    margin: 5rem 10rem;
}

.lead {
    display: flex;
    flex-direction: column; 
    border-bottom: rgba(106,107,112, .5) 1px solid;
}

.lead__title {
    font-weight: 600;
    font-size: 3rem;
    color: #6A6B70;
    width: 100%;
}

.lead__block {
    margin: 3rem 0 0;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    */
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.lead__section {
    height: 25rem;  
    width: 22rem;
    margin: auto 0;
}

.lead__section_head {
    height: 55%;
    background-color: #DBF3EB;
    border-radius: 10px 10px 0 0;
    display: flex;
}

.lead__section_image {
    margin: auto;
}

.lead__section_bottom {
    background-color: #F0F6F4;
    display: flex;
    flex-direction: column;
    height: 45%;
    border-radius: 0 0 10px 10px;
}

.lead__section_title {
    margin: 1.5rem 1.5rem 0;
    font-weight: 600;
    font-size: 1.6rem;
    color: #6A6B70;
}

.lead__section_link {
    text-decoration: none;
    color: #4F6ACC;
    margin: auto 1.5rem 2rem;
    font-weight: 400;
    font-size: 1rem;
    width: 9rem;
}

.lead__subtitle {
    margin: 11.5rem auto 2.5rem;
    font-weight: 400;
    font-size: 1.5rem;
    color: #6A6B70;
}

.footer {
    height: 9.25rem;
    background: linear-gradient(#E2F1DA, #D4FBF7);
    width: 100%;
    margin-top: 4.375rem;
    display: flex;
    align-items: center;
}

.footer__title {
    width: 28rem;
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-size: 1.125rem;
    color: #6A6B70;
    line-height: 1.5;
}

